<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.INTERNET" />








    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuIckCash"
        tools:targetApi="31">



<!--        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />-->
<!--        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />-->
<!--        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />-->
<!--        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />-->


        <activity
            android:name=".Paypal"
            android:exported="true" />
        <activity
            android:name=".ViewJobsActivity"
            android:exported="true" />
        <activity
            android:name=".SubmitJobsActivity"
            android:exported="true" />
        <activity
            android:name=".LandingPage"
            android:exported="true" />
        <activity
            android:name=".EmployeePage"
            android:exported="true" />
        <activity
            android:name=".EmployerPage"
            android:exported="false" />
        <activity
            android:name=".RegisterPage"
            android:exported="true" />
        <activity
            android:name=".JobPosting"
            android:exported="true" />
        <activity
            android:name=".LoginPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



    </application>

</manifest>